<div class="tab-content">
  <div class="tab-pane active">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-lg-3">  
            <label>Nome</label>
            {{input type='text' placeholder="Nome do dia" value=name class="form-control day-name-input"}}
          </div>
          <div class="col-lg-3">
            <label>Tempo apropiado</label>
            {{input value=unsparsed_proper_time placeholder="Tempo apropriado de treino em minutos." class="form-control"}}
          </div>
          <div class="col-lg-3">
            <label>Descrição</label>
            {{textarea value=description placeholder="Descrição geral sobre esse dia de treino." class="form-control"}}
          </div>
        </div>
        <hr>
        <button class="btn btn-primary create-exercise-btn" {{action "createExercise"}}><strong>Novo Exercício</strong></button>
      </li>
      {{#each exercises itemController="ExercisesInTrain"}}
        <li class="list-group-item clickable exercise-group-item" {{action "edit"}} {{bind-attr class="isEditing:active"}}>
          <h4><span class="exercise-title">{{displayedName}} <i class="fa fa-trash-o danger remove-icon remove-exercise" {{action "removeExercise" this}}></i></span>
            <small>{{displReps}}{{#if equipament}} - {{equipament}}{{/if}}<br>
              {{#unless isEditing}}
                {{#if comment}}
                  <hr>
                  {{comment}}
                {{/if}}
              {{/unless}}
            </small>
          </h4>
        </li>
        {{#if isEditing}}
          <li class="list-group-item clickable open-panel">
            <div class="panel panel-primary">
               <div class="panel-body">
                <div class="row">
                  <form>
                    <div class="col-lg-4">
                      <label>Nome</label>
                      {{input type='text' placeholder="Nome do exercício" value=name class="form-control exercise-name-input"}}
                    </div>
                    <div class="col-lg-4">
                      <label>Equipamento</label>
                      {{input type='text' placeholder="Equipamento utilizado" value=equipament class="form-control"}}
                    </div>
                    <div class="col-lg-4">
                      <label>Comentário</label>
                      {{textarea placeholder="Comentário sobre o exercício" value=comment class="form-control"}}
                    </div>
                    <div class="col-lg-4">
                      <label>Execução</label>
                      {{textarea placeholder="Instrução de execução" value=execution class="form-control"}}
                    </div>
                  </form>
                  <div class="col-lg-4">
                      <label>Séries</label>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-xs-7 padding-bottom">
                            {{#if reps}}
                              <span class="label label-primary">
                                {{displReps}}
                              </span>
                            {{/if}}
                          </div>
                          <div class="col-xs-5">
                            {{#if reps}}
                              <button type="button" class="btn btn-danger" {{action 'removeSerie'}}>- série</button>
                            {{else}}
                              <br>
                            {{/if}}
                          </div>
                          <div class="col-xs-7">
                            {{input type="integer" class="form-control input-sm" placeholder="Repetições" valueBinding="repetitions" action='newSerie'}}
                            {{#if errorInReps}}
                              <br>
                              <span class="label label-danger">Ops, só são aceitos algarísmos numéricos como número de repetições de uma série.</label>
                            {{/if}}
                          </div>
                          <div class="col-xs-5">
                            <button type="button" class="btn btn-default" {{action 'newSerie'}}>+ série</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {{/if}}
      {{/each}}
      <!--
      <li class="list-group-item clickable"><h5>Descanço de &object.time segundos</h5></li>
      <li class="list-group-item clickable open-panel">
        <div class="panel panel-primary">
           <div class="panel-body">
            <div class="row">
              <div class="col-lg-3">
                <label>Tipo</label><br>
                <select class="form-control">
                  <option selected="selected">Descanso</option>
                  <option>Supersérie</option>
                </select>
              </div>
              <div class="descanso_fields">
                <div class="col-lg-3">
                  <label>Descanso</label><br>
                  <form role="form">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Descanso" value="&object.time">
                      <span class="input-group-addon">Segundos</span>
                    </div>
                  </form>
                </div>
                <div class="col-lg-6">
                  <label>Comentário</label><br>
                  <form role="form">
                      <input type="text" class="form-control" placeholder="Breve comentário">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    
      <li class="list-group-item clickable"><h5>Super Série</h5></li>
      <li class="list-group-item clickable open-panel">
        <div class="panel panel-primary">
           <div class="panel-body">
            <div class="row">
              <div class="col-lg-3">
                <label>Tipo</label><br>
                <select class="form-control">
                  <option>Descanso</option>
                  <option selected="selected">Supersérie</option>
                </select>
              </div>
              <div class="superserie_fields">
                <div class="col-lg-6">
                  <label>Comentário</label><br>
                  <form role="form">
                      <input type="text" class="form-control" placeholder="Breve comentário">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      -->
    </ul>
  </div>
</div>
