  <div class="background light">
    <div class="container">
      <div class="row">
        <div class='col-md-12'>
          <h2><small>Definição do treino</small> {{displayedName}}</h2>
        </div>
        <div class="col-md-3 col-xs-6">
          <label>Nome</label>
          {{input type="text" id="workout-name" value=name placeholder="Nome do Treino" class="form-control"}}
        </div>
        <div class="col-md-4 col-xs-6">
          <label>Objetivo</label>
          {{input type="text" value=objective placeholder="Hipertrofia, emagrecimento, resistência..." class="form-control"}}
        </div>
        <div class="col-md-5 col-xs-12">
          <label>Descrição</label>
          {{textarea type="text" value=description placeholder="A quem se destina, detalhes..." class="form-control"}}
        </div>
        <div class="col-md-12" id="daysDiv">
          <h2>Dias de Treino</h2>
          <ul class="nav nav-tabs">
            {{#each days itemController="Day"}}
              <li class='day-tab active' {{bind-attr class='selected:active'}}>
                <a href="#/trains/new">
                  <span {{action "selectDay" this}}>
                    <span class="day-title">{{displayedName}}</span>
                    {{#if valid}}
                      <span class="badge">{{exercisesQuantity}}</span>
                    {{else}}
                      <span class="hint--top" data-hint="O dia está sem nome ou sem exercícios.">
                        <i class="fa fa-exclamation-circle danger"></i>
                      </span>
                    {{/if}}
                  </span>
                  {{#if deleteMode}}
                    <div class="delete-day-confirmation">
                      <button class="btn btn-danger remove-day-btn" {{action "removeDay" this}}>
                        <i class="fa fa-trash-o"></i> Deletar
                      </button>
                      <button class="btn cancel-day-deletion-btn" {{action "cancelDeleteMode"}}>
                        Cancelar
                      </button>
                    </div>
                  {{else}}
                    <i class="fa fa-trash-o danger remove-icon remove-day" {{action "enterDeleteMode"}}></i>
                  {{/if}}
                </a>
              </li>
            {{/each}}
            <li><a {{action "createDay"}} class="btn btn-primary" id="create-day-btn">Novo dia de treino</a></li>
          </ul>
          {{#unless days}}
            <div class="tab-content">
              <div class="tab-pane active">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h4>Crie novos dias de treino para montar sua ficha!</h4>
                  </li>
                </ul>
              </div>
            </div>
          {{/unless}}
          <div>
            {{#each day in days itemController="Day"}}
              {{#if selected}}
                {{view TrainTool.DayContentView valueBinding='day'}}
              {{/if}}
            {{/each}}
          </div>
          {{#if saveLocked}}
             <div class="row">
              {{#if withoutName}}
                <div class="hint--right" data-hint="Nomeie o treino para salvar.">
                  <button class="btn btn-primary" disabled="disabled">Salvar treino</button>
                </div>
              {{else}}
                {{#if saving}}
                  <button class="btn btn-primary" disabled="disabled"> Salvando <i class="fa fa-spinner fa-spin"></i> </button>
                {{else}}
                  <div class="hint--right" data-hint="Adicione dias de treino para salvar.">
                    <button class="btn btn-primary" disabled="disabled">Salvar treino</button>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{else}}
            {{#if saved}}
              {{#link-to 'trains.train' this}}Visualizar treino{{/link-to}}
            {{else}}
              <button class="btn btn-primary" {{action "saveWorkout" this}} id="save_workout">Salvar treino</button>
            {{/if}}
          {{/if}}
        </div> <!-- col-md-12 -->
      </div><!-- row -->
    </div>
  </div>
</article>