<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2>Lista de exercícios</h2>
				<ul>
					{{#each}}
						<li>
							<div>
								<p>Nome: {{name}}</p>
								<p>Comentário: {{comment}}</p>
								<p>Criado: {{created}}</p>
								<p>Repetições: {{reps}}</p>
								<p>id: {{id}}</p>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
			<div class="col-lg-8">
				<h2>Criar Exercício</h2>
				<p>Nome<br>{{input valueBinding="model.name" value=exName id="exName"}}</p>
				<p>Comentário<br>{{input valueBinding="model.comment" value=exComment id="exComment"}}</p>
				<p>Equipamento<br>{{input valueBinding="model.equipament" value=exEquipament id="exEquipament"}}</p>
				<p>Execução<br>{{input valueBinding="model.execution" value=exExecution id="exExecution"}}</p>
				<p>Repetições<br>{{input valueBinding="model.reps" value=exReps id="exReps"}}</p>
				<button id="exCreate" {{action "createExercise"}}>Criar exercício</button>
			</div>
		</div>
	</div>
</article>