<div class="container">
	<p>Nome: {{model.name}}</p>
	<p>Comentário: {{model.comment}}</p>
	<p>Criado: {{model.created}}</p>
	<p>Repetições: {{model.reps}}</p>
	<p>Equipamento: {{model.equipament}}</p>
	<p>Execução: {{model.execution}}</p>
	<p>id: {{model.id}}</p>
</div>
