<article>
  <div class="container">
    <div class="row">
      <div class='col-lg-12'>
        <h2><small>Definição do treino</small> {{displayedName}}</h2>
      </div>
      <div class="col-lg-2">
        <label>Nome</label>
        {{input type="text" id="workout-name" value=name placeholder="Nome do Treino" class="form-control"}}
      </div>
      <div class="col-lg-2">
        <label>Objetivo</label>
        {{input type="text" value=objective placeholder="Hipertrofia, emagrecimento, resistência..." class="form-control"}}
      </div>
      <div class="col-lg-4">
        <label>Descrição</label>
        {{textarea type="text" value=description placeholder="A quem se destina, detalhes..." class="form-control"}}
      </div>
      <div class="col-lg-4">
        <label>Comentários</label>
        {{textarea type="text" value=comment placeholder="Relatos, dicas, seu contato..." class="form-control"}}
      </div>
      <div class="col-lg-4 text-center">
      </div>
      <div class="col-lg-12" id="daysDiv">
        <h2>Dias de Treino</h2>
        <ul class="nav nav-tabs">
          {{#each days itemController="Day"}}
            <li class='day-tab' {{bind-attr class='selected:active'}}>
              <a href="#/trains/new">
                <span {{action "selectDay" this}}>
                  <span class="day-title">{{displayedName}}</span>
                  {{#if valid}}
                    <span class="badge">{{exercisesQuantity}}</span>
                  {{else}}
                    <span class="hint--top" data-hint="O dia está sem nome ou sem exercícios.">
                      <i class="fa fa-exclamation-circle danger"></i>
                    </span>
                  {{/if}}
                </span>
                {{#if deleteMode}}
                  <div class="delete-day-confirmation">
                    <button class="btn btn-danger remove-day-btn" {{action "removeDay" this}}>
                      <i class="fa fa-trash-o"></i> Deletar
                    </button>
                    <button class="btn cancel-day-deletion-btn" {{action "cancelDeleteMode"}}>
                      Cancelar
                    </button>
                  </div>
                {{else}}
                  <i class="fa fa-trash-o danger remove-icon remove-day" {{action "enterDeleteMode"}}></i>
                {{/if}}
              </a>
            </li>
          {{/each}}
          <li><a {{action "createDay"}} class="btn btn-primary" id="create-day-btn">Novo dia de treino</a></li>
        </ul>
        {{#unless days}}
          <div class="tab-content">
            <div class="tab-pane active">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4>Crie novos dias de treino para montar sua ficha!</h4>
                </li>
              </ul>
            </div>
          </div>
        {{/unless}}
        <div>
          {{#each days itemController="Day"}}
            {{#if selected}}
              {{view TrainTool.DayContentView}}
            {{/if}}
          {{/each}}
        </div>
        {{#if canBeSaved}}
          <button class="btn btn-primary" {{action "saveWorkout" this}}>Salvar treino</button>
        {{else}}
          <div class="row">
            {{#if withoutName}}
              <div class="col-lg-2 hint--right" data-hint="Nomeie o treino para salvar.">
                <button class="btn btn-primary" disabled="disabled">Salvar treino</button>
              </div>
            {{else}}
              <div class="col-lg-2 hint--right" data-hint="Adicione dias de treino para salvar.">
                <button class="btn btn-primary" disabled="disabled">Salvar treino</button>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div> <!-- col-lg-12 -->
    </div><!-- row -->
  </div>
</article>